@mixin flex($num){
  -webkit-box-flex:$num;	  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $num;		 /* OLD - Firefox 19- */
  -webkit-flex: $num;		  /* Chrome */
  -ms-flex: $num;			  /* IE 10 */
  flex: $num;				  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin ge-btn($w:160px,$h:40px){
  text-align: center;
  width: $w;
  height: $h;
  line-height: $h;
  border-radius: $h/2;
  background-color:#3ccdfe;
  color: #fff;
  display: inline-block;
user-select: none;
  cursor: pointer;
  &:active{
    background-color: hsl(195, 99%, 52%);
  }
  &.disabled{
    background: #ddd;
  }
}
@mixin wh($w,$h){
  width: $w;
  height: $h;
}
@mixin margin-center{
  margin-left:auto !important;
  margin-right:auto !important;
}
$color1:#3ccdfe;
