$h:50px;
.el-table{
  text-align: center;
}
.el-table__header  th{
  text-align: center;
  background: $table_head_bg;
  line-height:$h;
  height:$h;
  font-size: 18px;
}
&.el-table--border td, &.el-table--border th {
  border-right: 1px solid #fff ;
}
&.el-table td, &.el-table th.is-leaf {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.el-table__header-wrapper thead div {
  background-color: transparent;
  color: #fff;
  font-weight: normal;
}
.el-table__body{
  .el-table__row{
    td{
      background: $table_body_first_bg;
      line-height:$h;
      height:$h;
      font-size: 18px;
    }
    &:nth-child(even),&:nth-child(even):hover{
      td{
        background:$table_body_second_bg;
      }
    }
  }
}

&.el-table--enable-row-hover .el-table__body tr:hover>td {
  background:$table_body_first_bg;
  background-clip: padding-box;
}
